    <div class="chat-header">
      <div class="chat-room-name">
        hogefuga
      </div>
      <div class="chat-finish-btn">
        <a href="#">チャットを終了する</a>
      </div>
    </div>

    <div class="chat-contents">
      <div class="post">
        <div class="post-name">Tom<span>2020/3/31(Wed) 12:43:30</span></div>
        <div class="post-text">おはよう</div>
      </div>
      <div class="post">
        <div class="post-name">Sim<span>2020/3/31(Wed) 12:43:30</span></div>
        <div class="post-text">おはよう</div>
      </div>
    </div>
    <div class="chat-form">
      <div class="message-form">
        <input class="message" placeholder="type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>  
      <input type="submit" value="送信" class="send">
    </div>