    <div class="side-bar-header">
      <div class="header-user-name">
        <%= link_to current_user.name,edit_user_path(current_user)%>
      </div>
      <div class="new-btn">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bar-main">
      <div class="chat-name">
        <a href="#">techroom1</a>
      </div>
      <div class="chat-name">
        <a href="#">techroom2</a>
      </div>
    </div>