    <div class="side-bar-header">
      <div class="header-user-name">
        <%= link_to current_user.name,edit_user_path(current_user)%>
      </div>
      <div class="new-btn">
        <%= link_to "チャットを作成する",new_room_path%>
      </div>
    </div>
    <div class="side-bar-main">
      <% current_user.rooms.each do |room| %>
        
          <div class="chat-name">
            <a href="#"><%= room.name%></a>
          </div>
        
      <% end %>
    </div>